<div>
	<div>1 + 1 = 2</div>
	<div>TEXT: bold : &lt;b&gt;BOLD&lt;/b&gt;</div>
	<div>HTML: bold : <b>BOLD</b></div>
	<div><h1>H1 TEXT</h1></div>
	<div><ul><li>ITEM1</li><li>ITEM2</li><li>ITEM3</li></ul></div>
</div>
